.ubicacion {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  
    h3 {
      background-color: rgba(251, 225, 146, 0.5);
      font-family: 'Shadows Into Light', cursive;
      padding-left: 50px;
      font-size: 40px;
      text-align: center;
    }
  
    .mapa {
      margin-top: 30px;
    }
  
    .direccion {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      h4 {
        font-family: Arial, Helvetica, sans-serif;
        color: beige;
        margin-top: 20px; // Espaciado opcional entre el mapa y la dirección
      }
    }
  }
  