footer {

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(251, 225, 146, 0.5);   
    color: beige;
    padding: 10px;
    
    

}
       ul{

        text-align: center; 
        

       }
.insta {

    height: 30px;

}

.face {

    height: 30px;

}