


.ilustraciones{

    background-color: #404045;
}


.guerrera{

    width:  300px;
    height: 300px;
    border: 3px solid black;
    margin: 55px;


}
.mila{

    width:  200px;
    height: 300px;
    border: 3px solid black;
    margin: 55px;
}
.loco{
    width:  200px;
    height: 300px;
    border: 3px solid black;
    margin: 55px;
}

.simon{

    width:  300px;
    height: 300px;
    border: 3px solid black;
    margin: 55px;
}
.brai{

    width:  400px;
    height: 300px;
    border: 3px solid black;
    margin: 55px;
}
 .braiIndex{
     width: 40%;
     margin: 55px;

       
}



  




  