*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     }
body{

    background-color: #404045;
}

.grid-container-index {

    
    display: grid;
    grid-template-columns: 500px 700px;
    grid-template-rows: 300px 300px;
    gap: 50px;
    margin-bottom: 200px;
    margin-top: 60px;

}
// .grid-container-index {
//     display: grid;
//     grid-template-columns: 1fr; 
//     gap: 20px;
//     margin-bottom: 50px;
//     margin-top: 30px;
// }


.griditem {
    padding: 20px;
}

.tres {
    border-radius: 10px;
}

.uno {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: beige;
    padding: 60px;

    
}

// .dos{

//     padding: 20px;
//     // height: 50px;
//     // width: 60px;
// }

.tres{

    
    border-radius: 10px;
}
.cuatro{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: beige;
    padding: 120px;


}
.tatuador{
    border-radius: 25px;
}

.tatuando{
    border-radius: 25px;
}

@media  (min-width: 767px){
   
        background-color: aqua;
        
    
    
}

    
