*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     }
body{

    background-color: #404045;
}

.grid-container-index {

    // border: 1px solid black;
    display: grid;
    grid-template-columns: 500px 700px;
    grid-template-rows: 300px 300px;
    gap: 50px;
    margin-bottom: 100px;
  

}

// .griditem {
           
    // border: 2px solid blue;

          
// }

.uno {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: beige;
    padding: 60px;
    
}

.dos{

    padding: 40px;
    height: 50px;
    width: 60px;
}

.tres{

    // padding-left: 40px;
    border-radius: 10px;
}
.cuatro{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: beige;
    padding: 120px;


}
.tatuador{
    border-radius: 25px;
}

.tatuando{
    border-radius: 25px;
}

