header{
       
    background-color:  rgb(251, 225, 146);
    background-image:url(../imagenes/indexbackgroun.png) ;
    height: 400px;
    background-repeat: no-repeat;
    
    nav{

 
        text-decoration: none;
        background-color: rgb(251, 225, 146);
        margin: 50px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        padding: 5px;
        margin-top: 100px;
        ul a{
 
            text-decoration: none;
            color: black;
            margin: 30px;
            align-items: center;
        }
    }
}
.grid-container {
  
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(2, 300px);
    row-gap: 50px;
    column-gap: 100px;
    background-color: aliceblue;
    margin-top: 100px;
    text-decoration: none;


}
.griditem{
    border: 2px solid black;
    text-decoration: none;
    color: yellow;

}

.lettering{

    width: 250px;
    min-height: 250px;
}

.tradi{
    width: 250px;
    min-height: 250px;
}

.cover{

    width: 250px;
    min-height: 250px;
}
.promos{

    width: 250px;
    min-height: 250px;
}
h1 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(251, 225, 146);
    color:beige
  
}
a{
    text-decoration: none;
    background-color: rgb(251, 225, 146);
}
p{
    display: inline;

  
}
.lettering{

    width: 250px;
    min-height: 250px;
}

.tradi{
    width: 250px;
    min-height: 250px;
}

.cover{

    width: 250px;
    min-height: 250px;
}
.promos{

    width: 250px;
    min-height: 250px;
}
h1 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(251, 225, 146);
    color:beige
   

    
    
    
}


a{
    text-decoration: none;
    background-color: rgb(251, 225, 146);
}
p{
    display: inline;

  
}

header{

    background-color:  rgb(251, 225, 146);
    background-image:url(../imagenes/indexbackgroun.png) ;
    height: 400px;
    background-repeat: no-repeat;
    
}

 header nav{

 
    text-decoration: none;
    background-color: rgb(251, 225, 146);
    margin: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    padding: 5px;
    margin-top: 100px;

}
header nav ul a{
 
    text-decoration: none;
    color: black;
    margin: 30px;
    align-items: center;
}
.tatuajes{

    background-color: aliceblue;
    text-decoration: none;
}
.ilustraciones{

    background-color: aliceblue;
}
p {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: right;
}
.guerrera{

    width:  300px;
    height: 300px;
    border: 3px solid black;
    margin: 55px;


}
.mila{

    width:  200px;
    height: 300px;
    border: 3px solid black;
    margin: 55px;
}
.loco{
    width:  200px;
    height: 300px;
    border: 3px solid black;
    margin: 55px;
}

.simon{

    width:  300px;
    height: 300px;
    border: 3px solid black;
    margin: 55px;
}
.brai{

    width:  400px;
    height: 300px;
    border: 3px solid black;
    margin: 55px;
}
 .braiIndex{
     width: 40%;
     margin: 55px;

       
}


  
footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(251, 225, 146) ;
    color: beige;
    padding: 5px;
    

}